.map-viewport {
    width: 100%;
    height: 100vh;
    background: #111827;
    overflow: hidden;
    position: relative;
}

/*pantalla de carga*/
.map-loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.map-loading {
    color: #9ca3af;
    font-size: 16px;
    font-weight: 500;
}

.pin-layer {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}