/* html, body, #root { height: 100%; margin: 0; } */

.map-wrap {
    position: relative;
    display: inline-block;
    /* El contenedor se ajusta al tamaño de la imagen */
}

.map-png-wrap {
    position: relative;
    display: inline-block;
}

.map-wrap-png {
  display: block;
  /* width: 100%;
  height: auto; */
}